<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-light">
      <strong>Agenda de Contatos</strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

      <!-- conteúdo exibido para o usuário não autenticado -->
      <ul class="navbar-nav" *ngIf="!usuario">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/app/login">Acessar Conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/app/register">Crie sua Conta</a>
        </li>
      </ul>

      <!-- conteúdo exibido para o usuário autenticado -->
      <ul class="navbar-nav" *ngIf="usuario">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/app/dashboard">
            Página inicial
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/app/create-contacts">
            Cadastrar Contatos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/app/list-contacts">
            Consultar Contatos
          </a>
        </li>
        <li class="nav-item">
          <div class="nav-link text-light">
            <strong>{{usuario.nome}} ({{usuario.email}})</strong>
          </div>
        </li>
        <li class="nav-item">
          <button class="nav-link text-light" (click)="sair()">
            Sair do sistema
          </button>
        </li>
      </ul>

    </div>
  </div>
</nav>
