<div class="container mt-3">
    <div class="row mb-3">
        <div class="col">
            <h3>Consulta de contatos</h3>
            <p>Listagem de contatos cadastrados em sua agenda.</p>
        </div>
    </div>
    <div class="mb-3">
        <app-message [text]="mensagem"/>
    </div>
    <div class="text-center">
        <pagination-controls 
        previousLabel="Anterior"
        nextLabel="Próxima"
        (pageChange)="handlePageChange($event)"
        />
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>Nome do Contato</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Data Cadastro</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of contatos | paginate: {itemsPerPage: 5, currentPage : paginador}">
                    <td>{{item.nome | uppercase}}</td>
                    <td>{{item.email | lowercase}}</td>
                    <td>{{item.telefone}}</td>
                    <td>{{item.dataCriacao | date : 'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-primary" (click)="onEdit(item.idContato)">
                            Editar
                        </button>
                        <button class="btn btn-sm btn-outline-danger ms-2" (click)="onDelete(item.idContato)">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td colspan="5">Quantidade de Registros: {{contatos.length}}</td></tr>
            </tfoot>
        </table>
    </div>
</div>

